{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block difference_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>
<body>
    <aside>
        <img src="{% static 'main/image/flowers.jpg' %}" alt="topic" style="width:75px;height: 80px";>
        <span class="logo">Create and relax</span>
        <h3>Navigation</h3>
        <ul>
           <a href="{% url 'Home' %}"> <li><i class="fas fa-home"></i>Main</li></a>
           <a href="{% url 'About' %}"> <li><i class="far fa-meh-rolling-eyes"></i>About me</li></a>
           <a href="{% url 'news_home' %}"> <li><i class="far fa-newspaper"></i>News</li></a>
           <a href="{% url 'library' %}"> <li><i class="fas fa-book-open"></i>Library</li></a>
        </ul>
    </aside>
    <main>
   {% block difference_body %}
   {% endblock %}
    </main>

</body>
</html>