body{
    background: darkmagenta;
}

aside{
    float: left;
    background: aquamarine;
    width: 30%;
    padding:2.5%;
    height: 100vh;
    color: black;
    border-right: 5px solid blueviolet;
}

aside .logo{
    font-size: 25px;
    margin-left: 5px;
    font-weight: bold;
}